@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap");

@font-face {
  font-family: Tiemann-Light;
  src: url(Materials/Tiemann\ Light\ Regular.ttf);
}

@font-face {
  font-family: Tiemann;
  src: url(Materials/Tiemann\ Roman.ttf);
}

.product-image{
    width: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
  width: 100%;
  height: auto;
}

.product-page {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 5em;
}

.product-text-container {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.product-text-title h1 {
  font-family: Tiemann-Light;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
}

.product-text-price {
  font-family: "montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 2em;
  letter-spacing: 1px;
}

.product-text-price p {
  color: rgb(68, 68, 68);
}

.product-text-price .price {
  color: black;
  font-weight: 400;
  font-size: 25px;
  font-family: "montserrat", sans-serif;
}

.print-title {
  width: 600px;
  border-bottom: 0.5px solid #000;
  margin-bottom: 1em;
}

.print-title p {
  font-family: "montserrat", sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.button-container.four {
    padding: 1em;
    padding-left: 0px;
    padding-bottom: 2em;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
  }
  
  .button.four {
    color: #fff;
    background-color: #b87454;
    width: 170px;
    font-size: 15px;
  }

  .button.four:hover{
    background-color: #606060;
  }
